<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" sizes="any">
      <!-- OPEN GRAPH (Facebook, Messenger, iMessage, Discord) -->
    <meta property="og:title" content="Chuck’s casse-croûte – La poutine préférée de Gatineau">
    <meta property="og:description" content="Classés #1 à Gatineau sur PoutzTaNote.ca. Poutines généreuses, sauces uniques, portions débordantes.">
    <meta property="og:image" content="{{ '/assets/images/social-card.png' | relative_url }}">
    <meta property="og:url" content="https://chucks-casse-croute.com">
    <meta property="og:type" content="website">
    
    <!-- TWITTER/X CARD -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Chuck’s casse-croûte – La poutine préférée de Gatineau">
    <meta name="twitter:description" content="Classés #1 à Gatineau sur PoutzTaNote.ca. Poutines généreuses, sauces uniques, portions débordantes.">
    <meta name="twitter:image" content="{{ '/assets/images/social-card.png' | relative_url }}">

  </head>
  <body>

<header class="site-header">
  <div class="wrapper-header">

    <!-- LOGO -->
    <a class="brand" href="{{ site.baseurl }}/">
      <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="Chuck’s casse-croûte" class="brand-logo">
    </a>

    <!-- NAV -->
    <nav class="site-nav">
      <a class="page-link" href="{{ '/' | relative_url }}">Accueil</a>
      <a class="page-link" href="{{ '/menu.html' | relative_url }}">Menu</a>
    </nav>

    <!-- LANGUAGE SWITCHER -->
    <div class="lang-switch-hero">
      {% if page.lang == "en" %}
        <a href="{{ '/' | relative_url }}">FR</a> · <span class="active">EN</span>
      {% else %}
        <span class="active">FR</span> · <a href="{{ '/en/' | relative_url }}">EN</a>
      {% endif %}
    </div>

  </div>
</header>

<main>
  {{ content }}
</main>

<footer class="site-footer">
  <p>© {{ site.time | date: '%Y' }} Chuck’s casse-croûte — Site par J.P. Henri  <a href="https://jphenri.ca" target="_blank">
      jphenri.ca
    </a></p>
</footer>

  </body>
</html>
